# Ignorar pastas com dados
data/raw/*    
data/processed/*

# Ignorar arquivos temporários do Python
*.pyc
*.pyo
__pycache__/

# Ignorar ambientes virtuais
venv/
.env/

# Ignorar arquivos de configuração específicos de IDEs
.vscode/
.idea/

# Ignorar arquivos de log
*.log

# Ignorar arquivos do Jupyter Notebook
*.ipynb_checkpoints/

# Ignorar arquivos do sistema
.DS_Store   # Para sistemas macOS
Thumbs.db   # Para sistemas Windows
