# Ignorar a pasta de vídeos
data/

# Ignorar dados processados
grupo2/data_preparation/data_processed/

# Ficheiros gerados por Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Modelos e dados grandes
*.pth
*.pt
*.npz
*.npy
*.h5